<div>
  <%= @comment_tree.login %>
  <a href="/comment/<%=@comment_tree.id%>"><%= @comment_tree.id%></a>
  <br>
  <%= @comment_tree.message %>
  <br>
  <a class="ansver" onclick="add_new_comment_field(this, <%=@comment_tree.id%>)">
    ответить <%#ссылочка ответить под каждым сообщением%>
  </a>
  <div class="child_comments">
    <% for child1 in @comment_tree.child_comments%>
      <div>
        <%= child1.login %>
        <a href="/comment/<%= child1.id%>"><%= child1.id%></a>
        <br>
        <%= child1.message %>
        <br>
        <a class="ansver" onclick="add_new_comment_field(this, <%=child1.id%>)">
          ответить <%#ссылочка ответить под каждым сообщением%>
        </a>
      </div>
    <% end %>
  </div>
</div>