<style>
  /*загружаем шрифт*/
  @font-face {
    font-family: OCR; /* Имя шрифта */
    src: url(/OCR.ttf); /* Путь к файлу со шрифтом */
  }
  body{
    background: #F3FFEE;
    font-family: OCR;
    color: #133C01;
  }
  .child_comments {
    border-left: 2px groove #A0A0A0;
    padding: 0 10px; /* Расстояние между линией и текстом */
    margin-left: 10px; /* Отступы справа и слева */
    min-width: 90%;
  }
  .ansver{
    color: #284D18;
  }
  .ansver:hover{
    color: #1E9749;
  }
  textarea{
    min-width: 90%;
    min-height: 40%;
    column-span: 100;
  }
  .title{
    top: 0;
    left: ;
    min-width: 100%;
    background: #133C01;
    height: 10%;
    color: lemonchiffon;
    font-size: x-large;
  }
</style>
<script>
  // глобальная переменная "открытый в данный момент комментарий"
  // следит, что бы только 1 окошечко для написания комментария
  // было открыто в данный момент
  var opened_comment = null;
  function process_comment_field(elem, comment_id) {
      var current_comment_id = 'comment'+comment_id;
      var write_comment_area =
          '<form id="'+current_comment_id+'" action="/add/comment" method="POST">' +
          '<textarea name="message" id="textarea" autofocus>' +
          '</textarea>' +
          '<br>' +
          '<input type="button" value="📤 (shift+alt+s)" accesskey="s" onclick="process_send()">' +
          '<input type="hidden" name="perent_comment_id" value="' + comment_id + '">' +
          '</form>';
      //если где-то открыт комментарий
      if(opened_comment){
          //если он в другом месте - удаляем там и создаём здесь
          if (opened_comment !== current_comment_id){
              document.getElementById(opened_comment).remove();
              opened_comment = null;
              elem.insertAdjacentHTML('beforeBegin', write_comment_area);
              opened_comment = current_comment_id;
          } else { //если он в этом месте - удаляем здесь
              document.getElementById(opened_comment).remove();
              opened_comment = null;
          }
      } else { //если комментарий не открыт нигде - создаём тут
          elem.insertAdjacentHTML('beforeBegin', write_comment_area);
          opened_comment = current_comment_id;
      }
  }
  // функция будет отправлять комментарий post запросом
  // и подгружать пришедший html как новый комментарий
  function process_send () {
      var massage = document.getElementById("textarea").value;
      var perent_comment_id = parseInt(opened_comment.replace(/\D+/, ''));
      //Создание экземпляра объекта XMLHttpRequest
      var Httpreq = new XMLHttpRequest();
      //Открытие соединения
      var url = "/add/comment";
      Httpreq.open("POST", url, true);//true - асинхронный
      Httpreq.setRequestHeader("Content-Type", "application/json");
      //Установка обработчика события (нужно делать после открытия и до отправки в IE)
      Httpreq.onreadystatechange = function() {
          if (this.readyState === 4 && this.status === 200) {
              // Просто перезагрузим страницу
              location.reload();
          }
      };
      //Отправка запроса.
      Httpreq.send(JSON.stringify({'message': massage, 'perent_comment_id': perent_comment_id}));
  }

</script>

<div class="title">Фрактальный форум
</div>
<%# проходим по дереву %>

<div>
  <%= @comment_tree.login %>
  <a href="/comment/<%=@comment_tree.id%>"><%= @comment_tree.id%></a>
  <br>
  <%= @comment_tree.message %>
  <br>
  <span class="ansver" onclick="process_comment_field(this, <%=@comment_tree.id%>)">
    📝 <%#ссылочка 📝 под каждым сообщением%>
  </span>
  <div class="child_comments">
    <% for child_1 in @comment_tree.child_comments%>
      <div>
        <%= child_1.login %>
        <a href="/comment/<%=child_1.id%>"><%= child_1.id%></a>
        <br>
        <%= child_1.message %>
        <br>
        <span class="ansver" onclick="process_comment_field(this, <%=child_1.id%>)">
          📝 <%#ссылочка 📝 под каждым сообщением%>
        </span>
        <div class="child_comments">
          <% for child_2 in child_1.child_comments%>
            <div>
              <%= child_2.login %>
              <a href="/comment/<%=child_2.id%>"><%= child_2.id%></a>
              <br>
              <%= child_2.message %>
              <br>
              <span class="ansver" onclick="process_comment_field(this, <%=child_2.id%>)">
                📝 <%#ссылочка 📝 под каждым сообщением%>
              </span>
              <div class="child_comments">
                <% for child_3 in child_2.child_comments%>
                  <div>
                    <%= child_3.login %>
                    <a href="/comment/<%=child_3.id%>"><%= child_3.id%></a>
                    <br>
                    <%= child_3.message %>
                    <br>
                    <span class="ansver" onclick="process_comment_field(this, <%=child_3.id%>)">
                      📝 <%#ссылочка 📝 под каждым сообщением%>
                    </span>
                    <div class="child_comments">
                      <% for child_4 in child_3.child_comments%>
                        <div>
                          <%= child_4.login %>
                          <a href="/comment/<%=child_4.id%>"><%= child_4.id%></a>
                          <br>
                          <%= child_4.message %>
                          <br>
                          <span class="ansver" onclick="process_comment_field(this, <%=child_4.id%>)">
                            📝 <%#ссылочка 📝 под каждым сообщением%>
                          </span>
                          <div class="child_comments">

                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

