<%# все style теперь в /home/oleg/RubymineProjects/Проект/Forum/app/assets/stylesheets/page.scss %>
<%# все script теперь в /home/oleg/RubymineProjects/Проект/Forum/app/assets/javascripts/page.js %>

<div class="title">
  <a href="/"><h1>Фрактальный форум</h1></a>
  <% if @is_login %>
    Рад видеть вас, <%= @login %>!
    <form method="post" action="/user/departed_user">
      <input type="submit" value="выйти">
    </form>
  <% else %>
    <form class="right" method="post" action="/user/login">
      <input name="login" type="text">
      <input name="password" type="password">
      <input type="submit" value="🚪 🚶">
    </form>
    <a class="register_link" href="/user/new" >😶 → 🛂 → 😎💬</a>
  <% end %>
</div>
<%# проходим по дереву %>
<% if @comment_tree.perent_comment_id != 0 %>
  <a href="/comment/<%= @comment_tree.perent_comment_id%>">Выше ↑</a><br>
<% end %>
<div>
  <%= @comment_tree.login %>
  <a href="/comment/<%=@comment_tree.id%>"><%= @comment_tree.id%></a>
  <br>
  <%= @comment_tree.message %>
  <br>
  <span class="ansver" onclick="process_comment_field(this, <%=@comment_tree.id%>)">
    📝 <%#ссылочка 📝 под каждым сообщением%>
  </span>
  <div class="child_comments">
    <% for child_1 in @comment_tree.child_comments%>
      <div>
        <%= child_1.login %>
        <a href="/comment/<%=child_1.id%>"><%= child_1.id%></a>
        <br>
        <%= child_1.message %>
        <br>
        <span class="ansver" onclick="process_comment_field(this, <%=child_1.id%>)">
          📝 <%#ссылочка 📝 под каждым сообщением%>
        </span>
        <div class="child_comments">
          <% for child_2 in child_1.child_comments%>
            <div>
              <%= child_2.login %>
              <a href="/comment/<%=child_2.id%>"><%= child_2.id%></a>
              <br>
              <%= child_2.message %>
              <br>
              <span class="ansver" onclick="process_comment_field(this, <%=child_2.id%>)">
                📝 <%#ссылочка 📝 под каждым сообщением%>
              </span>
              <div class="child_comments">
                <% for child_3 in child_2.child_comments%>
                  <div>
                    <%= child_3.login %>
                    <a href="/comment/<%=child_3.id%>"><%= child_3.id%></a>
                    <br>
                    <%= child_3.message %>
                    <br>
                    <span class="ansver" onclick="process_comment_field(this, <%=child_3.id%>)">
                      📝 <%#ссылочка 📝 под каждым сообщением%>
                    </span>
                    <div class="child_comments">
                      <% for child_4 in child_3.child_comments%>
                        <div>
                          <%= child_4.login %>
                          <a href="/comment/<%=child_4.id%>"><%= child_4.id%></a>
                          <br>
                          <%= child_4.message %>
                          <br>
                          <span class="ansver" onclick="process_comment_field(this, <%=child_4.id%>)">
                            📝 <%#ссылочка 📝 под каждым сообщением%>
                          </span>
                          <div class="child_comments">

                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

